<div class="title">My Heroes</div>

<div class="hero-list">
  @for (hero of heroes; track hero.number) {
  <div
    class="hero"
    [ngClass]="{ 'hero--active': hero.number === selectedHero?.number }"
    (click)="onClickHero(hero)"
  >
    <span class="hero-number">{{ hero.number }}</span>
    <span class="hero-name">{{ hero.name }}</span>
  </div>
  }
</div>

@if (selectedHero) {
<div class="title">{{ selectedHero.name | uppercase }} is my hero</div>
<app-styled-button>Details</app-styled-button>
}
